input[type=checkbox] ~ span {display:none;}
input[type=checkbox]:checked ~ span {
  display:inline-block;
  font-weight: lighter;
  padding: 20px;
}
input[type=checkbox] {display:none;}

.note-marker {
  color: blue;
}

.active-example {
  margin-left: -20px;
  font-family: 'Raleway', sans-serif;
}
